// Font Colors
$primary-font-color: #212121;
$secondary-font-color: #888888;

// Base Colors
$primary-black: #212121;
$primary-white: #FEFEFE;
$primary-gray: #D9D9D9;

// Accent Colors
$accent-1: #627B6B;
$accent-2: #3E5D50;
