.section-account {
    min-height: 90vh;
    padding: 10rem 0;
    display: relative;

    .account-main {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        min-height: 100%;

        .account-details {
            width: 30%;
            display: flex;
            flex-direction: column;
            border-bottom: solid #d9d9d9 1px;
            gap: 1rem;
            padding-bottom: 1rem;

            p {
                color: #a3a3a3 !important;
            }

            button {
                margin-left: auto;
            }
        }

        .account-address {
            width: 30%;
            display: flex;
            flex-direction: column;
            border-bottom: solid #d9d9d9 1px;
            gap: 1rem;
            padding-bottom: 1rem;

            .account-header {
                display: flex;
                align-items: center;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    padding: 0.3rem 1.5rem !important;
                }
            }

            p {
                color: #a3a3a3 !important;
            }

            button {
                margin-left: auto;
            }
        }

        button {
            background-color: #ff645c;
        }
    }
}
