.section-register {
    min-height: 90vh;
    padding: 5rem 0;

    .register-main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;

        .section-form {
            width: 40%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            gap: 1.5rem;
            border: solid #d9d9d9 1px;

            .form-text {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                text-align: center;
            }
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;


            .field-half {
                width: 100%;
                display: flex;
                gap: 1rem;

                input {
                    width: 100%;
                    flex: 110;
                }
            }

            .field-input {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .error-message {
                    color: #ff2c2c !important;
                    font-size: 0.875rem;
                    margin-top: 0.25em;
                    display: block;
                }
            }

            button {
                padding-left: 10rem !important;
                padding-right: 10rem !important;
            }
        }
    }
}
