<div class="footer row bg-primary text-white">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 footer-items">
        <div class="section-socmed">
            <p class="text-lg font-medium">
                Stay Rooted
            </p>
            <div class="socmed-icons">
                <i class='bx bxl-facebook text-2xl'></i>
                <i class='bx bxl-instagram text-2xl'></i>
                <i class='bx bxl-tiktok text-2xl'></i>
            </div>
        </div>
        <div class="section-contact">
            <p class="text-lg font-medium">
                Get in Touch
            </p>
            <div class="contact-content">
                <i class='bx bxs-phone text-lg'></i>
                <p class="text-sm font-light">
                    +63 917 987 6543
                </p>
            </div>
            <div class="contact-content">
                <i class='bx bxs-envelope text-lg'></i>
                <p class="text-sm font-light">
                    contact@botanify.ph
                </p>
            </div>
        </div>
        <div class="section-email">
            <p class="text-lg font-medium">
                Fresh Updates from Us
            </p>
            <p class="text-sm font-light">
                Subscribe for plant tips, updates, and all things Botanify.
            </p>
            <div class="newsletter">
                <input type="text" name="name" value="" placeholder="Email address" />
                <button class="btn btn-icon bg-accent">
                    <i class='bx bx-chevron-right text-2xl'></i>
                </button>
            </div>
        </div>
        <div class="section-text">
            <p class="text-lg font-medium">
                Leaf it to Us
            </p>
            <p class="text-sm font-light">
                We started Botanify to share our love for plants with our friends, and we’d love to have you in our green circle. Let’s grow and spread the leafy goodness together!
            </p>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
