<div class="sidebar bg-primary text-white">
    <div class="sidebar-logo">
        <img src="~/Content/assets/logo-white.svg" alt="Alternate Text" />
    </div>
    <div class="sidebar-links">
        <button class="btn btn-primary btn-block">Products</button>
        <button class="btn btn-primary btn-block">Users</button>
        <button class="btn btn-primary btn-block">Orders</button>
        <button class="btn btn-primary btn-block">Analytics</button>
    </div>
    <div class="sidebar-signout">
        <button class="btn btn-primary btn-block">Sign Out</button>
    </div>
</div>
