<div class="sidebar bg-primary text-white">
    <div class="sidebar-logo">
        <img src="~/Content/assets/logo_white.svg" alt="Alternate Text"/>
    </div>
    <div class="sidebar-links">
        <button class="btn btn-primary btn-block text-xl">Products</button>
        <button class="btn btn-primary btn-block text-xl">Users</button>
        <button class="btn btn-primary btn-block text-xl">Orders</button>
        <button class="btn btn-primary btn-block text-xl">Analytics</button>

    </div>
    <div class="sidebar-signout">

    </div>
</div>