<div class="modal-overlay" ng-class="{'active': isViewVisible}" ng-init="loadFilterFunc()">
    <div class="modal text-black bg-white">
        <div class="header-row">
            <div class="header-wrapper">
                <h3>{{modalData.data.productName}}</h3>
                <button class="btn btn-primary edit-btn" ng-click="editProductFunc()">Edit</button>
            </div>
            <button class="btn-icon" ng-click="closeModal()">
                <i class='bx bx-x-circle'></i>
            </button>
        </div>

        <form action="@Url.Action("DashProducts", "Home")" method="post" class="form-address text-sm" field>
            <div class="field-row-half">
                <div class="field-input">
                    <label>Product Size</label>
                    <select ng-model="modalData.data.sizeId" ng-disabled="disableField">
                        <option ng-repeat="size in sizes"
                                ng-value="size.sizeId"
                                ng-selected="size.sizeId === modalData.data.sizeId">
                            {{ size.size }}
                        </option>
                    </select>
                    <small class="error-message" ng-show="sizeIdError">Please select a valid size.</small>
                </div>
                <div class="field-input">
                    <label>SKU</label>
                    <input type="text" ng-model="modalData.data.sku" ng-disabled="disableField" />
                    <small class="error-message" ng-show="skuError">Invalid SKU.</small>
                </div>
            </div>

            <div class="field-row-half">
                <div class="field-input">
                    <label>Product Name</label>
                    <input type="text" ng-model="modalData.data.productName" ng-disabled="disableField" />
                    <small class="error-message" ng-show="productNameError">Invalid Product Name.</small>
                </div>
                <div class="field-input">
                    <label>Scientific Name</label>
                    <input type="text" ng-model="modalData.data.productSciName" ng-disabled="disableField" />
                    <small class="error-message" ng-show="productSciNameError">Invalid Scientific Name.</small>
                </div>
            </div>
            <div class="field-row-half">
                <div class="field-input">
                    <label>Product Description</label>
                    <textarea ng-model="modalData.data.productDescription" ng-disabled="disableField"></textarea>
                    <small class="error-message" ng-show="productDescriptionError">Invalid Description.</small>
                </div>
                <div class="field-input">
                    <label>Product Tips</label>
                    <textarea ng-model="modalData.data.productTips" ng-disabled="disableField"></textarea>
                    <small class="error-message" ng-show="productTipsError">Invalid Tips.</small>
                </div>
            </div>

            <div class="field-row-half">
                <div class="field-input">
                    <label>Image Path</label>
                    <input type="text" ng-model="modalData.data.productImage" ng-disabled="disableField" />
                    <small class="error-message" ng-show="productImageError">Invalid Path.</small>
                </div>
                <div class="field-input">
                    <label>Product Category</label>
                    <select ng-model="modalData.data.categoryId" ng-disabled="disableField">
                        <option ng-repeat="category in categories"
                                ng-value="category.categoryId"
                                ng-selected="category.categoryId === modalData.data.categoryId">
                            {{ category.categoryName }}
                        </option>
                    </select>
                    <small class="error-message" ng-show="categoryIdError">Please select a valid category.</small>
                </div>
            </div>

            <div class="field-row-half">
                <div class="field-input">
                    <label>Product Price</label>
                    <input type="text" ng-model="modalData.data.productPrice" ng-disabled="disableField" />
                    <small class="error-message" ng-show="productPriceError">Invalid Product Price.</small>
                </div>
                <div class="field-input">
                    <label>Product Stock</label>
                    <input type="text" ng-model="modalData.data.productStock" ng-disabled="disableField" />
                    <small class="error-message" ng-show="productStockError">Invalid Stock.</small>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary text-sm" ng-click="closeModal()">Cancel</button>
                <button type="submit" class="btn btn-primary text-sm" ng-click="saveEditProductFunc($event)">Save Changes</button>
            </div>
        </form>
    </div>
</div>