<div class="modal-overlay" ng-class="{'active': isViewVisible}">
    <div class="modal text-black bg-white">
        <div class="header-row">
            <h3>{{modalData.productName}}</h3>
            <button class="btn-icon" ng-click="closeModal()">
                <i class='bx bx-x-circle'></i>
            </button>
        </div>

        <form action="@Url.Action("DashProducts", "Home")" method="post" class="form-address text-sm" field>
            <div class="field-row-half">
                <div class="field-input">
                    <label>Product Size</label>
                    <select ng-model="itemData.sizeId" disabled>
                        <option value="1">Small</option>
                        <option value="2">Medium</option>
                        <option value="3">Large</option>
                        <option value="4">Hanging</option>
                    </select>
                </div>
                <div class="field-input">
                    <label>SKU</label>
                    <input type="text" ng-model="itemData.sku" disabled />
                </div>
            </div>

            <div class="field-row-half">
                <div class="field-input">
                    <label>Product Name</label>
                    <input type="text" ng-model="itemData.productName" class="text-black" />
                </div>
                <div class="field-input">
                    <label>Scientific Name</label>
                    <input type="text" ng-model="itemData.productSciName" />
                </div>
            </div>
            <div class="field-row-half">
                <div class="field-input">
                    <label>Product Description</label>
                    <textarea ng-model="itemData.productDescription"></textarea>
                </div>
                <div class="field-input">
                    <label>Product Tips</label>
                    <textarea ng-model="itemData.productTips"></textarea>
                </div>
            </div>

            <div class="field-row-half">
                <div class="field-input">
                    <label>Image Path</label>
                    <input type="text" ng-model="itemData.productImage" />
                </div>
                <div class="field-input">
                    <label>Product Category</label>
                    <select ng-model="itemData.categoryId">
                        <option value="1">Pet-Friendly</option>
                        <option value="2">Air Purifiers</option>
                        <option value="3">For Beginners</option>
                        <option value="4">Low Light</option>
                    </select>
                </div>
            </div>

            <div class="field-row-half">
                <div class="field-input">
                    <label>Product Price</label>
                    <input type="text" ng-model="itemData.productPrice" />
                </div>
                <div class="field-input">
                    <label>Product Stock</label>
                    <input type="text" ng-model="itemData.productStock" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary text-sm">Save Changes</button>
        </form>

    </div>
</div>