@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}


<div class="row section-account text-black">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 account-main">
        <div class="header">
            <h2>Profile Details</h2>
        </div>
        <div class="account-details">
            <h3 class="text-xl">Personal Information</h3>
            <p>Name Here</p>
            <p>emailaddress@email.com</p>
            <p>phone number</p>
        </div>
        <div class="account-address">
            <h3 class="text-xl">Shipping Information</h3>
            <p>Address line here</p>
            <p>City here</p>
            <p>province here</p>
            <p>country here</p>
            <p>postal code here</p>

            <button class="btn btn-white btn-outline btn-rounded text-black" ng-click="showModal()">
                <span>
                    <i class='bx bx-edit-alt'></i>
                </span>
                Edit
            </button>
        </div>
    </div>
    <div class="col-xs-1"></div>

    <div class="modal-overlay" ng-class="{'active': isModalVisible}">
        <div class="modal-wrapper">
            <div class="modal text-black bg-white">
                <div class="btn-row">
                    <button class="btn-icon" ng-click="showModal()">
                        <i class='bx bx-x-circle'></i>
                    </button>
                </div>
                <h3 class="text-xl">Shipping Information</h3>

                <form action="/" method="post" class="form-address">
                    <div class="field-row-full">
                        <input type="text" name="address" placeholder="Home Address" class="field-block" />
                    </div>
                    <div class="field-row-half">
                        <input type="text" name="city" placeholder="City" />
                        <input type="text" name="province" placeholder="Province" />
                    </div>
                    <div class="field-row-half">
                        <input type="text" name="country" placeholder="Country" />
                        <input type="text" name="postal" placeholder="Postal Code" />
                    </div>
                    <button type="submit" class="btn btn-accent btn-rounded">Submit</button>
                </form>
            </div>
        </div>
    </div>


</div>
