@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}


<div class="row section-account text-black">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 account-main">
        <div class="header">
            <h2>Profile Details</h2>
        </div>
        <div class="account-details">
            <h3 class="text-xl">Personal Information</h3>
            <p>{{userDetails.firstName}} {{userDetails.lastName}}</p>
            <p>{{userDetails.userEmail}}</p>
            <p>{{userDetails.userPhone}}</p>
        </div>
        <div class="account-address">
            <div class="account-header">
                <h3 class="text-xl">Shipping Information</h3>
                <button class="btn btn-white btn-outline btn-rounded text-black" ng-click="editProduct()">
                    <span>
                        <i class='bx bx-edit-alt'></i>
                    </span>
                    Edit
                </button>
            </div>
            <p>{{userDetails.address}}</p>
            <p>{{userDetails.city}}</p>
            <p>{{userDetails.region}}</p>
            <p>{{userDetails.zipcode}}</p>
            
        </div>
        <button class="btn btn-primary btn-rounded" ng-click="logoutFunc()">Logout</button>
    </div>
    <div class="col-xs-1"></div>
</div>
