@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}


<div class="row section-address text-black">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 address-main">

    </div>
    <div class="col-xs-1"></div>
</div>