@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}


<div class="row section-cart text-black">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 cart-main">
        <div class="header">
            <h2>Your Cart</h2>
            <a href="@Url.Action("ShopPage", "Home")">Continue Shopping</a>
        </div>
        <div class="cart-table">

            <div class="cart-item">
                <div class="item-details">
                    <img src="/Content/assets/plants/australfern_800x.png" alt="Austral Gem Fern">
                    <p class="font-semibold">Austral Gem Fern</p>
                </div>
                <div class="item-buttons">
                    <div class="quantity">
                        <button class="minus" ng-click="decreaseQuantity()" aria-label="Decrease">&minus;</button>
                        <input type="number" class="input-box" ng-model="quantity" min="1" max="10" />
                        <button class="plus" ng-click="increaseQuantity()" aria-label="Increase">&plus;</button>
                    </div>
                    <button class="btn-icon">
                        <i class='bx bx-trash'></i>
                    </button>
                </div>
                <div class="item-price">
                    <p class="text-xl font-medium">₱500</p>
                </div>
            </div>

            <div class="table-checkout">
                <div class="checkout-wrapper">
                    <div class="checkout-details text-xl font-semibold">
                        <p>Subtotal</p>
                        <p>test</p>
                    </div>
                    <button class="btn btn-accent btn-rounded btn-block"  ng-click="showSuccess()">Checkout</button>
                    <div class="account-address">
                        <h3 class="text-xl">Shipping Information</h3>
                        <p>{{userDetails.address}}</p>
                        <p>{{userDetails.city}}</p>
                        <p>{{userDetails.region}}</p>
                        <p>{{userDetails.zipcode}}</p>                 
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-1"></div>
    @*<div class="modal-overlay" ng-class="{'active': isModalVisible}">
        <div class="modal-wrapper">
            <div class="modal text-black bg-white">
                <div class="btn-row">
                    <button class="btn-icon" ng-click="showModal()">
                        <i class='bx bx-x-circle'></i>
                    </button>
                </div>
                <h3 class="text-xl">Shipping Information</h3>

                <form action="/" method="post" class="form-address">
                    <div class="field-row-full">
                        <input type="text" name="address" placeholder="Home Address" class="field-block" />
                    </div>
                    <div class="field-row-half">
                        <input type="text" name="city" placeholder="City" />
                        <input type="text" name="province" placeholder="Province" />
                    </div>
                    <div class="field-row-half">
                        <input type="text" name="country" placeholder="Country" />
                        <input type="text" name="postal" placeholder="Postal Code" />
                    </div>
                    <button type="submit" class="btn btn-accent btn-rounded">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <div class="modal-overlay" ng-class="{'active': isSuccessVisible}">
        <div class="modal-wrapper">
            <div class="modal-success text-black bg-white">
                <div class="btn-row">
                    <button class="btn-icon" ng-click="showSuccess()">
                        <i class='bx bx-x-circle'></i>
                    </button>
                </div>
                <div class="content-row">
                    <i class='bx bxs-check-circle text-primary'></i>
                    <div class="content-text">
                        <h2>Payment Success</h2>
                        <p>Thank you for your purchase!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

</div>

