@{
    Layout = "~/Views/Shared/_BotanifyDashboard.cshtml";
}


<div class="col-xs-1">
</div>
<div class="col-xs-10 dash-users">
    <div class="dash-user-header">
        <h2 class="text-black">Manage Users</h2>
    </div>

    <table id="userTable" class="display">
        <thead>
            <tr>
                <th>UserID</th>
                <th>User Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in usersData">
                <td>{{user.userId}}</td>
                <td>{{user.userEmail}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.userPhone}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-black btn-edit text-black text-sm" ng-click=""><i class='bx bx-edit'></i></button>
                        <button class="btn btn-black btn-delete text-sm" ng-click=""><i class='bx bx-trash'></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-1">
</div>
