@{
    Layout = "~/Views/Shared/_BotanifyDashboard.cshtml";
}

<div class="col-xs-1">
</div>
<div class="col-xs-10 dash-products">
    <div class="dash-prod-header">
        <h2 class="text-black">Manage Products</h2>
        <button class="btn btn-primary text-sm" ng-click="addProduct()"><i class='bx bx-plus'></i>Add Product</button>
    </div>

    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>ProductID</th>
                <th>Product Name</th>
                <th>SKU</th>
                <th>Size</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in productsData">
                <td><img ng-src="{{product.productImage}}" alt="{{product.productName}}" /></td>
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.sku}}</td>
                <td>{{product.sizeName}}</td>
                <td>{{product.category}}</td>
                <td>{{product.productPrice | currency : '₱'}}</td>
                <td>{{product.productStock}}</td>
                <td class="btnCol">
   
                    <button class="btn btn-black btn-edit text-sm" ng-click="viewItemFunc(product.productId)"><i class='bx bx-edit'></i>Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-1">
</div>

