@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}

@*HERO*@
<div class="row section-hero">
    <div class="col-xs-1"></div>

    <div class="col-xs-10 text-white hero-items">
        <div class="hero-text">
            <h1>
                Plants for life,
                spaces for growth.
            </h1>
            <p class="text-lg">
                Bring out the best in your space with thoughtfully curated plants,
                effortlessly combining style and natural vibrance.
            </p>
        </div>
        <button class="btn btn-rounded btn-accent text-lg" ng-click="showShop()">View Shop</button>
    </div>

    <div class="col-xs-1"></div>
</div>

@*POPULAR ITEMS*@
<div class="row section-popular text-black">
    <div class="col-xs-1"></div>

    <div class="col-xs-10">
        <div class="header">
            <h2>Top Plant Picks</h2>
            <a href="@Url.Action("ShopPage", "Home")">View All Plants</a>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>

@*FEATURED COLLECTIONS*@
<div class="row section-newest text-black">
    <div class="col-xs-1"></div>

    <div class="col-xs-10">
        <div class="header">
            <h2>Recently Bloomed</h2>
            <a href="@Url.Action("ShopPage", "Home")">View All Plants</a>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>

@*PROMOTIONAL MATERIALS*@
<div class="row section-promotion bg-primary">
    <div class="col-xs-1"></div>

    <div class="col-xs-10 promotion-main text-white">
        <div class="promo">
            <img src="~/Content/assets/landing/promo-1.svg" alt="Alternate Text"/>
            <div class="promo-text">
                <h3>Grown with Care</h3>
                <p>Find expert tips on watering, sunlight, and soil to help your plants thrive every day.</p>
            </div>
        </div>
        <div class="promo">
            <img src="~/Content/assets/landing/promo-2.svg" alt="Alternate Text" />
            <div class="promo-text">
                <h3>Handpicked Freshness</h3>
                <p>Every plant is carefully selected from our greenhouse, ensuring it arrives vibrant, healthy, and ready to settle into its new home.</p>
            </div>
        </div>
        <div class="promo">
            <img src="~/Content/assets/landing/promo-3.svg" alt="Alternate Text" />
            <div class="promo-text">
                <h3>Convenient Delivery</h3>
                <p>Choose the delivery date that works best for you. Our standard shipping takes 2-5 days, with express options available for faster arrival.</p>
            </div>
        </div>
    </div>

    <div class="col-xs-1"></div>
</div>

@*CARE TIPS*@
<div class="row section-care text-white">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 care-main">
        <div class="care-items">
            <h1>
                Care for growth,
                tips for <span class="text-accent">life.</span>
            </h1>
            <p class="text-lg">
                Find expert tips on watering, sunlight, and soil to help your plants thrive every day.
            </p>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>

<div class="row section-testimonials text-black">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 testimonials-main">
        <div class="header">
            <h2>Happy Plant Parents</h2>
        </div>
        <div class="card-container">
            <div class="card-review">
                <img src="~/Content/assets/landing/quote.svg" alt="Alternate Text" />
                <p class="review-text">I was impressed with the fast delivery and the quality of the plants. They arrived healthy and vibrant. The care tips included made it so easy to take care of them. I’ll definitely be shopping here again!</p>
                <p class="review-name">Sophie M.</p>
            </div>
            <div class="card-review">
                <img src="~/Content/assets/landing/quote.svg" alt="Alternate Text" />

                <p class="text">
                    The plants I ordered exceeded my expectations. They were fresh, healthy, and the care guide made it simple to take care of them. The delivery was also fast. I’ll be back for more!
                </p>
                <p class="review-name">Jake T.</p>
            </div>
            <div class="card-review">
                <img src="~/Content/assets/landing/quote.svg" alt="Alternate Text" />

                <p class="review-text">These plants arrived looking fantastic! The quality was better than I imagined, and the included care tips were super helpful. I’ll definitely be coming back for more.</p>
                <p class="review-name">Keno S.</p>
            </div>
            <div class="card-review">
                <img src="~/Content/assets/landing/quote.svg" alt="Alternate Text" />
                <p class="review-text">I was impressed with how vibrant the plants were when they arrived. The care tips are very helpful, and the delivery was quick. I’m already planning my next order!</p>
                <p class="review-name">Lina P.</p>
            </div>
           
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>