@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}

@*HERO*@
<div class="row section-hero">
    <div class="col-xs-1"></div>

    <div class="col-xs-10 text-white hero-items">
        <div class="hero-text">
            <h1>
                Plants for life, <br />
                spaces for growth.
            </h1>
            <p class="text-lg">
                Bring out the best in your space with thoughtfully curated plants, <br />
                effortlessly combining style and natural vibrance.
            </p>
        </div>
        <button class="btn btn-rounded btn-accent text-lg">View Shop</button>
    </div>

    <div class="col-xs-1"></div>
</div>

@*POPULAR ITEMS*@
<div class="row section-popular">
    <div class="col-xs-1"></div>

    <div class="col-xs-10 bg-accent">

    </div>
    <div class="col-xs-1"></div>
</div>

@*FEATURED COLLECTIONS*@
<div class="row section-collection">
    <div class="col-xs-1"></div>

    <div class="col-xs-10 bg-white">

    </div>
    <div class="col-xs-1"></div>
</div>

@*PROMOTIONAL MATERIALS*@
<div class="row section-promotion bg-primary">
    <div class="col-xs-1"></div>

    <div class="col-xs-10 promotion-main text-white">
        <div class="promo">
            <img src="~/Content/assets/landing/promo-1.svg" alt="Alternate Text"/>
            <div class="promo-text">
                <h3>Grown with Care</h3>
                <p>Find expert tips on watering, sunlight, and soil to help your plants thrive every day.</p>
            </div>
        </div>
        <div class="promo">
            <img src="~/Content/assets/landing/promo-2.svg" alt="Alternate Text" />
            <div class="promo-text">
                <h3>Handpicked Freshness</h3>
                <p>Every plant is carefully selected from our greenhouse, ensuring it arrives vibrant, healthy, and ready to settle into its new home.</p>
            </div>
        </div>
        <div class="promo">
            <img src="~/Content/assets/landing/promo-3.svg" alt="Alternate Text" />
            <div class="promo-text">
                <h3>Convenient Delivery</h3>
                <p>Choose the delivery date that works best for you. Our standard shipping takes 2-5 days, with express options available for faster arrival.</p>
            </div>
        </div>
    </div>

    <div class="col-xs-1"></div>
</div>

@*CARE TIPS*@
<div class="row section-care text-white">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 care-main">
        <div class="care-items">
            <h1>
                Care for growth, <br />
                tips for <span class="text-accent">life.</span>
            </h1>
            <p class="text-lg">
                Find expert tips on watering, sunlight, and soil to help your <br />plants thrive every day.
            </p>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>

<div class="row section-testimonials">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 bg-gray"></div>
    <div class="col-xs-1"></div>
</div>