@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}

<div class="row">
    <div class="btn-icon-white">
        <i class="material-icons">shopping_cart_checkout</i>
    </div>
    <div class="btn-icon-white">
        <i class="material-icons">account_circle</i>
    </div>

    <button class="btn-cta-fill-accent">
        test button
    </button>
</div>

