@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}

<h1 class="heading-1">
    Heading 1
</h1>
<h2 class="heading-2">
    Heading 2
</h2>
<h3 class="heading-3">
    Heading 3
</h3>
<p class="font-regular-r">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris.
</p>
