@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}


<div class="row section-login">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 login-main">

        <div class="section-form text-black">
            <div class="form-text">
                <h2>Login</h2>
                <p>Step back into your green space. Log in!</p>
            </div>
            <form>
                <input type="email" name="name" class="field-block" placeholder="Email Address" ng-model="uEmail"/>
                <input type="password" name="name" class="field-block" placeholder="Password" ng-model="uPass"/>
                <button class="btn btn-accent btn-block btn-rounded" ng-click="loginFunc()">Login</button>
                <p>Don't have an account? <span><a href="@Url.Action("RegisterPage", "Home")">Register Now</a></span> </p>
            </form>
        </div>
    </div>
    <div class="col-xs-1"></div>

</div>