@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}

<div class="row section-product text-black">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 product-main">
        <div class="product-img">
            <div class="img-container">
                <img ng-src="{{itemData.productImage}}" alt="{{itemData.productName}}" />
            </div>
        </div>
        <div class="product-info">
            <div class="info-section info-name">
                <h3 class="text-primary">{{itemData.productName}}</h3>
                <p class="text-black text-sm">{{itemData.productSciName}}</p>
                <h3 class="font-semibold">₱{{itemData.productPrice}}</h3>
            </div>
            <div class="info-section info-desc">
                <p>{{itemData.productDescription}}</p>
            </div>
            <div class="info-section info-category">
                <div class="category text-dgray"
                     ng-class="{'text-black': itemData.categoryId == '1'}">
                    <div class="category-icon">
                        <i class='bx bxs-dog'></i>
                    </div>
                    <p class="text-sm">Pet-Friendly</p>
                </div>
                <div class="category text-dgray"
                     ng-class="{'text-black': itemData.categoryId == '2'}">
                    <div class="category-icon">
                        <i class='bx bx-wind'></i>
                    </div>
                    <p class="text-sm">Air Purifiers</p>
                </div>
                <div class="category text-dgray"
                     ng-class="{'text-black': itemData.categoryId == '3'}">
                    <div class="category-icon">
                        <i class='bx bx-question-mark'></i>
                    </div>
                    <p class="text-sm">For Beginners</p>
                </div>
                <div class="category text-dgray"
                     ng-class="{'text-black': itemData.categoryId == '4'}">
                    <div class="category-icon">
                        <i class='bx bx-low-vision'></i>
                    </div>
                    <p class="text-sm">Low Light</p>
                </div>
            </div>
            <div class="info-section info-button">
                <button class="btn btn-accent btn-rounded cart-btn" ng-click="addToCart(itemData.productId , userDetails.userId, quantity)">Add to cart</button>
                <div class="quantity">
                    <button class="minus" ng-click="changeQuantity('decrease')" aria-label="Decrease">&minus;</button>
                    <input type="number" class="input-box" ng-model="quantity" min="1" max="10" />
                    <button class="plus" ng-click="changeQuantity('increase')" aria-label="Increase">&plus;</button>
                </div>
            </div>
            <div class="info-section info-care">
                <h3 class="text-xl">Care and Maintenance</h3>
                <p>{{itemData.productTips}}</p>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>

