@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}


<div class="row section-product text-black">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 product-main">
        <div class="product-img">
            <div class="img-container">
                <img src="~/Content/assets/plants/australfern_800x.png" alt="Alternate Text" />
            </div>
            <div class="img-slider">
                slider here
            </div>
        </div>
        <div class="product-info">
            <div class="info-section info-name">
                <h3 class="text-primary">Plant Name here</h3>
                <p class="text-black text-sm">scientific name here</p>
                <h3 class="font-semibold">₱1,234.00</h3>
            </div>
            <div class="info-section info-desc">
                <p>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod sapien non magna tempor, eu hendrerit arcu facilisis. Donec porttitor nulla nec mi volutpat, ut dapibus tortor venenatis. Sed tristique nisl eget leo facilisis vulputate. Proin vehicula auctor sapien.
                </p>
            </div>
            <div class="info-section info-category">
                test category
            </div>
            <div class="info-section info-button">
                <button class="btn btn-accent btn-rounded btn-block">Add to cart</button>
            </div>
            <div class="info-section info-care">
                <h3 class="text-xl">
                    Care and Maintenance
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod sapien non magna tempor, eu hendrerit arcu facilisis. Donec porttitor nulla nec mi volutpat, ut dapibus tortor venenatis. Sed tristique nisl eget leo facilisis vulputate. Proin vehicula auctor sapien.
                </p>
            </div>
        </div>

    </div>
    <div class="col-xs-1"></div>

</div>