@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}



<div class="row section-login">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 login-main">

        <div class="section-form text-black">
            <div class="form-text">
                <h2>Sign Up</h2>
                <p>Step back into your green space. Log in!</p>
            </div>
            <form>
                <input type="email" name="name" value="" class="field-block" ng-model="userEmail" required placeholder="Email Address" />
                <input type="text" name="name" value="" class="field-block" ng-model="firstName" required placeholder="First Name" />
                <input type="text" name="name" value="" class="field-block" ng-model="lastName" required placeholder="Last Name" />
                <input type="password" name="name" value="" class="field-block" ng-model="userPassword" required placeholder="Password" />
                <button class="btn btn-accent btn-block btn-rounded " ng-click="registerSubmitFunc()">Sign Up</button>
                <p>Already have an account? <span><a href="@Url.Action("LoginPage", "Home")">Login Now</a></span> </p>
            </form>
        </div>
    </div>
    <div class="col-xs-1"></div>

</div>