@{
    Layout = "~/Views/Shared/_BotanifyLayout.cshtml";
}

<div style="height:100vh; padding-top:15rem;" ng-init="checkPaymentStatus()">
    Payment Success!

    <a href="@Url.Action("/LandingPage")">Go To Home</a>
</div>
