
.modal-overlay {
    visibility: hidden;
    height: 100%;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;


    .modal {
        width: 35vw;
        height: fit-content;
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: solid #d9d9d9 1px;

        .header-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #d9d9d9;
            padding: 0.5rem;
        }


        .form-address {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            width: 100%;

            .field-row-full {
                width: 100%;
            }

            .field-row-half {
                width: 100%;
                display: flex;
                gap: 1rem;

                input {
                    width: 100%;
                    flex: 1 1 0;
                }
            }

            button {
                width: 50%;
                border-radius: 1rem;
            }

            .field-input {
                width: 100%;
                display: flex;
                flex-direction:column;
                gap: 0.5rem;

                .checkbox-input {
                    display:flex;
                    gap: 2rem;
                }

                .checkbox-col {
                    display:flex;
                    flex-direction: column;
                    gap:0.5rem;
                }

                .form-checkbox {
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }
    }


    &.active {
        visibility: visible;
        //display: block !important;
    }
}




.no-scroll {
    overflow-y: hidden !important;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.5);
}



