@import '../colors/_colors.scss';

// Variables
$checkbox-size: 1.25rem;
$checkbox-border: $black;
$checkbox-selected: $black;

.checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        position: relative;
        cursor: pointer;
        padding-left: calc($checkbox-size + 0.5rem);

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: $checkbox-size;
            height: $checkbox-size;
            background: transparent;
            border: 1px solid $checkbox-border;
            border-radius: 4px;
            transition: 200ms ease-in-out;
        }

        &:after {
            content: "";
            position: absolute;
            top: 5px;
            left: 8px;
            width: 3px;
            height: 7px;
            border: solid transparent;
            border-width: 0 1px 1px 0;
            transform: rotate(45deg);
            transition: 200ms ease-in-out;
        }
    }

    &:checked + label {
        &:before {
            background: $checkbox-selected;
            border-color: $checkbox-selected;
        }

        &:after {
            border-color: white;
        }
    }

    &:disabled + label:before {
        background: #f2f2f2;
        border-color: #cecece;
    }
}

.form-checkbox {
    position: relative;
    margin: 0;
}
