<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/scss/main.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body ng-app="BotanifyApplication" ng-controller="BotanifyApplicationController" class="font-euclid bg-white" ng-class="{'no-scroll' : isModalVisible}" ng-init="checkLoginStatus()">

    @Html.Partial("_Navbar")

    <div>
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularScripts/Module.js"></script>
    <script src="~/Scripts/AngularScripts/Service.js"></script>
    <script src="~/Scripts/AngularScripts/Controller.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/angular-chart.min.js"></script>

</body>
</html>
