.dash-products {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .dash-prod-header {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0;
        border-bottom: solid 1px #d9d9d9;
    }

    table {
        tr {

            img {
                height: 5rem;
            }

                .btn-edit {
                    border-radius: 0.8rem !important;
                    display: flex;
                    align-items: center !important;
                    gap: 0.5rem;
                    background-color: #ffb09c !important;
                    color: #ee2400 !important;

                    &:hover {
                        background-color: #F2A794 !important;
                    }
                }
            
        }
    }


    button {
        padding: 0.5rem 1.25rem !important;
        border-radius: 1rem;
        display: flex;
        align-items: center !important;
        gap: 0.5rem;
    }
}
