.body-dash {
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    .dash {
        padding-left: 16vw;
    }
}

@import '_sidebar.scss';
@import 'dashproducts.scss';